.venv
.vscode
.mypy_cache
.DS_Store
__pycache__
.ipynb_checkpoints
src/metadata
src/pipeline
src/serving_model
!src/pipeline.py
logs/*
notebooks/*
!notebooks/simple_*
!notebooks/helper_*
data/*
!data/chicago_taxi_trips
!data/titanic

# New from tfx
outputs/*
!outputs/foo.txt
schema/*
!schema/example_schema.pbtxt
old_src
