.venv
.vscode
.mypy_cache
.DS_Store
__pycache__
.ipynb_checkpoints
src/metadata
src/pipeline
src/serving_model
!src/pipeline.py
logs/*
notebooks/*
!notebooks/simple_*
!notebooks/helper_*
data/**/
!data/01_raw
!data/01_raw/*

# New from tfx
outputs/*